/* VARIABLES GENERALES DEL PROYECTO */
	$primary-color										: #eceeed;
	$secondary-color									: #FFFFFF;
	$tertiary-color										: #000000;
	$font-primary											: 'Raleway', sans-serif;
	//$max-width                        : 1200px;
	$max-width                        : 1134px;

/* VARIABLES SECUNDARIAS */


/* CUSTOMS VARIABLES */
	$dark_3														: rgba(0,0,0,0.8);
	$dark_2														: rgba(0,0,0,0.7);
	$dark_1														: rgba(0,0,0,0.6);
	$dark_gentle											: rgba(0,0,0,0.3);
	$white_gentle											: #F5F5F5;
	$grey															: grey;